@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Book.otf') format('opentype');
  font-weight: 350; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-BookItalic.otf') format('opentype');
  font-weight: 350; 
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Italic.otf') format('opentype');
  font-weight: 400; 
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-Ultra.otf') format('opentype');
  font-weight: 900; /* 'Ultra' é geralmente um peso maior que 'Black' (900), mas é comum mapear ambos para 900 ou mais */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-UltraItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univia Pro';
  src: url('../fonts/UniviaPro-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}